n8n/workflows/lofi_daily_generate.json
{
  "name": "Lofi Daily Generate",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "name": "Daily 2AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "id": "schedule-trigger-1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_URL || 'http://localhost:8001' }}/lofi/sessions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"target_duration\": 3600,\n  \"theme\": \"lofi_hip_hop\",\n  \"model_size\": \"medium\",\n  \"ambient_sounds\": [\"rain\"],\n  \"triggered_by\": \"n8n\"\n}",
        "options": {}
      },
      "name": "Create Lofi Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "id": "http-create-session"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_URL || 'http://localhost:8001' }}/lofi/sessions/{{ $json.id }}/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "name": "Start Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300],
      "id": "http-start-generation"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-1",
              "name": "message",
              "value": "=Lofi session {{ $('Create Lofi Session').item.json.id }} created and generation started",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Log Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [960, 300],
      "id": "set-log"
    }
  ],
  "connections": {
    "Daily 2AM Trigger": {
      "main": [
        [
          {
            "node": "Create Lofi Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Lofi Session": {
      "main": [
        [
          {
            "node": "Start Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Generation": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "lofi"
    }
  ]
}
