n8n/workflows/test_api.json
{
  "name": "SceneMind Test",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8000/jobs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.video_url || 'https://www.youtube.com/watch?v=dQw4w9WgXcQ' }) }}",
        "options": {}
      },
      "id": "create_job",
      "name": "Create Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://172.17.0.1:8000/jobs/{{ $json.job_id }}",
        "options": {}
      },
      "id": "check_status",
      "name": "Check Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://172.17.0.1:8000/health",
        "options": {}
      },
      "id": "health_check",
      "name": "Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 480]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          { "node": "Create Job", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create Job": {
      "main": [
        [
          { "node": "Check Job Status", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
