n8n/workflows/fanout/trigger_pipelines.json
{
  "name": "Fan-out: Trigger Pipelines",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fanout/trigger",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "fanout-trigger"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.MIRRORFLOW_API_URL }}/items/{{ $json.body.item_id }}",
        "options": {}
      },
      "id": "get-item",
      "name": "Get Item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.MIRRORFLOW_API_URL }}/sources/{{ $json.source_id }}",
        "options": {}
      },
      "id": "get-source",
      "name": "Get Source",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-pipelines",
              "leftValue": "={{ $json.default_pipelines.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-pipelines",
      "name": "Has Default Pipelines?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Split pipelines into individual items\nconst source = $input.first().json;\nconst item = $('Get Item').first().json;\n\nconst pipelines = source.default_pipelines.map(pipelineId => ({\n  item_id: item.item_id,\n  source_type: item.source_type,\n  source_id: item.source_id,\n  original_url: item.original_url,\n  pipeline_id: pipelineId\n}));\n\nreturn pipelines.map(p => ({ json: p }));"
      },
      "id": "split-pipelines",
      "name": "Split Pipelines",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.MIRRORFLOW_API_URL }}/pipelines/{{ $json.pipeline_id }}",
        "options": {}
      },
      "id": "get-pipeline-config",
      "name": "Get Pipeline Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-enabled",
              "leftValue": "={{ $json.enabled }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-enabled-pipelines",
      "name": "Filter Enabled Pipelines",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "jsCode": "// Prepare job creation request\nconst pipeline = $input.first().json;\nconst itemData = $('Split Pipelines').first().json;\n\nreturn [{\n  json: {\n    url: itemData.original_url,\n    source_type: itemData.source_type,\n    source_id: itemData.source_id,\n    item_id: itemData.item_id,\n    pipeline_id: pipeline.pipeline_id,\n    target_language: pipeline.target_language,\n    generate_thumbnail: pipeline.generate_thumbnail,\n    generate_content: pipeline.generate_content,\n    auto_upload: pipeline.target.auto_publish || false,\n    upload_privacy: pipeline.target.privacy_status || 'private'\n  }\n}];"
      },
      "id": "prepare-job-request",
      "name": "Prepare Job Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MIRRORFLOW_API_URL }}/jobs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "create-job",
      "name": "Create Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "jsCode": "// Log job creation result\nconst job = $input.first().json;\nconst itemData = $('Split Pipelines').first().json;\n\nconsole.log(`Created job ${job.id} for item ${itemData.item_id} with pipeline ${itemData.pipeline_id}`);\n\nreturn [{\n  json: {\n    success: true,\n    job_id: job.id,\n    item_id: itemData.item_id,\n    pipeline_id: itemData.pipeline_id,\n    status: job.status\n  }\n}];"
      },
      "id": "log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Item": {
      "main": [
        [
          {
            "node": "Get Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Source": {
      "main": [
        [
          {
            "node": "Has Default Pipelines?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Default Pipelines?": {
      "main": [
        [
          {
            "node": "Split Pipelines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Pipelines": {
      "main": [
        [
          {
            "node": "Get Pipeline Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pipeline Config": {
      "main": [
        [
          {
            "node": "Filter Enabled Pipelines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Enabled Pipelines": {
      "main": [
        [
          {
            "node": "Prepare Job Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Job Request": {
      "main": [
        [
          {
            "node": "Create Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Job": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "fanout"
    },
    {
      "name": "mirrorflow-v2"
    }
  ],
  "triggerCount": 0,
  "versionId": "1"
}
